body{
    margin-left: auto;
    margin-right: auto;
    font-size: smaller;
}

div {
    max-width: 500px;
    display: flex;
    border: solid 1px;
    border-color: blueviolet;
    flex-wrap: wrap;
}

.nom{
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
}

.divImage{
    margin: auto;
    width: 8%;
    /* max-width: 150px; */
}

.image{
    width: 50px;
}

.description {
    width: 100%;
}

.symptome{
    width: 80%;
}

.vaccin {
    width: 19%;
}

.guerissable{
    width: 33%;
}

.type{
    width: 33%;
}

.transmission{
    width: 32%;
}

.l1, .l2, .l3, .l4 {
    width: 100%;
    justify-content: center;
} 
